{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% if entrypoints %}
          {% for file in entrypoints.css %}
        <link href="{% static file %}" rel="stylesheet">
          {% endfor %}
        {% elif main_css %}
        <link href="{% static main_css %}" rel="stylesheet">
        {% endif %}
        <title>Def'n</title>
      </head>
<body>

  <main>

    <div id="react">Loading...</div>

    {{ props | json_script:"react-props" }}

    <script>
      window.component = '{{ component }}';
      window.props = JSON.parse(
        document.getElementById('react-props').textContent
      );
      window.reactRoot = document.getElementById('react');
    </script>
    {% if bundle_js %}
      {% for file in bundle_js %}
    <script type="text/javascript" src="{{ file }}"></script>
      {% endfor %}
    {% elif entrypoints %}
      {% for file in entrypoints.js %}
    <script type="text/javascript" src="{% static file %}"></script>
      {% endfor %}
    {% endif %}

</main>
  <footer>
    &nbsp&nbsp&nbsp&nbsp Copyright Ishvn 2021
  </footer>
</body>
</html>

